@import '../imports/reset';
@import '../imports/variables';

body {
    background: linear-gradient(to right, $mainColor, $secondaryColor);
    font-family: $bodyFont;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.page-wrap {
    max-width: 1200px;
}
