// Styles de la page Home
@import '../imports/variables';
@import '../imports/mixins';

.home-page {
  position: relative;
  height: 100%;
  text-align: center;

  .infos-block{
    margin: 0 auto;

    h1 {
      font-size: 22em;
      font-family: $titleFont;
      font-weight: bold;
      color: $white;
      position: relative;
    }

    span {
            display: block;
            font-size: 22em;
            font-family: $titleFont;
            font-weight: bolder;
            color: transparent;
            -webkit-text-stroke-width: 8px;
            -webkit-text-stroke-color: $blue;
            z-index: -1;
            position: absolute;
            left: 20px;
            right: 0px;
            top: 12px;
    }

    p {
      color: $darkBlue;
      font-size: 4em;
      font-weight: bold;
      text-align: center;
      position: relative;
    }

  }

.nav-arrow {
    position: fixed;
    bottom: 2%;
    right: 5%;
    color: $white;
    span {
      font-size: 100px;
    }
  }

  .bubble-left {
    @include bubble-def;
    background: linear-gradient(to bottom right, $white, $blue 80%);
  }

  .bubble-right {
    @include bubble-def;
    background: linear-gradient(to bottom right, $white, $lightBlue 80%);
  }

  .bubble-box-left{
    width: 700px;
    height: 700px;
    left: -35%;
    top: -110%;
    @include bubble-box-def; 
  }

  .bubble-box-right{
    width: 400px;
    height: 400px;
    left: 100%;
    top: -110%;
    @include bubble-box-def; 
  }
}




