// Styles de la page User
@import '../imports/variables';


.user-page{
  font-family: $bodyFont;
  padding: 0 10%;
  margin-top: 120px;
  height: 100%;


  .nav-arrow{
    position: fixed;
    top: 2%;
    left: 5%;
    color: $white;
    float: left;
    span{
      font-size: 100px;
    }
  }

  //Dropwdown box styles
  select {
    color: $white;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 5px $white solid;
    background: transparent;
    background-image: none;
    font-size: 2em;
    flex: 1;
    padding: .5em .5em;
    cursor: inherit;
  }

  .users-select {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    line-height: 3;
    background: transparent;
    margin-bottom: 40px;
  }

  .users-select::after {
    content: '\25BC';
    color: $white;
    position: absolute;
    font-size: 2em;
    top: auto;
    right: 0;
    padding: 0 1em;
    background: transparent;
    cursor: pointer;
    transition: 1s all ease;
  }


  .infos-block{
    h2{
      font-size: 2em;
      font-weight: bold;
      margin: 12px 0;
    }
  }

  .articles-list{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .article{
      background-color: $white;
      width: 47%;
      margin-bottom: 6%;
      border-radius: $borderRadius;
      box-shadow: $boxShadow;

      h3{
        margin-top: 15%;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
      }
      p{
        color: $black;
        font-size: 14px;
        margin: 10% 10%;
        text-align: left;
        letter-spacing: 2px;
        line-height: 18px;
      }

    }
  }

}








.white-text{
  color: $white;
}



